<!DOCTYPE html>
<html>

<head>
  <title>Express</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Member Create</h1>
  <% if(member.id == current){ %>
    <form method="post" action="/member/update/<%= member.id %>" id="memberinfo">
        <!-- <h2><%= member.username %></h2> -->
        <div class="form-group">
        <label>Member Name</label>
        <input type="text" class="form-control" name="membername" placeholder="name" value="<%= member.username %>">
        </div>
        <div>
            <label>Member Birth : <%= member.birth %></label>
            <input type="date" class="form-control" name="year" placeholder="year">
        </div>
        <p>Member Gender</p>
        <select class="selectgender" name="selectgender" form="memberinfo">
        <option value="" selected disabled hidden><%= member.gender %></option>
        <option value="man">man</option>
        <option value="woman">woman</option>
        </select>
        <button type="submit" class="btn btn-default">update</button>
    </form>
  <% } %>
  <!-- <h2><a href="/member/update/<%= member.id %>">update</a></h2>
  <h2><a href="/member/delete/<%= member.id %>">delete</a></h2> -->
</body>

</html>